body {
  font-family: 'Ubuntu', sans-serif;
}

.container {
  display: flex;
}

/* The flip card container - set the width and height to whatever you want. 
We have added the border property to demonstrate that the flip itself goes 
out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  border-collapse: collapse;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  display: flex;
  position: absolute;
}

.flip-card-back-content {
  margin: auto; /* Important */
  text-align: center;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side */
.flip-card-front {
  display: flex;
}

.flip-card-front h1 {
  margin: auto; /* Important */
  text-align: center;
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
  display: flex;
}

.trekkie {
  width: 40vw;
  height: 40vh;
  top: 0;
  left: 0;
}

.trekkie .flip-card-front {
  background-color: dodgerblue;
  color: white;
}

.trekkie .flip-card-back {
  background-color: rgb(153, 101, 101);
  color: white;
}

.dev {
  width: 60vw;
  height: 20vh;
  top: 0;
  left: 40vw;
}

.dev .flip-card-front {
  background-color: rgb(218, 165, 32);
  color: black;
}

.dev .flip-card-back {
  background-color: rgb(54, 32, 217);
  color: white;
}

.dev2 {
  width: 60vw;
  height: 20vh;
  top: 20vh;
  left: 40vw;
}

.dev2 .flip-card-front {
  background-color: rgb(218, 165, 32);
  color: black;
}

.dev2 .flip-card-back {
  background-color: rgb(54, 32, 217);
  color: white;
}

.trekkie img {
  width: 10vw;
}

.dev img:nth-of-type(1) {
  width: 3em;
  height: 3em;
}

.dev img:nth-of-type(2) {
  width: 4em;
  height: 3em;
}

.dev img:nth-of-type(3) {
  width: 3em;
  height: 3em;
}

.dev .flip-card-back-content {
  display: flex;
}

.trekkie .flip-card-back-content h1,
.trekkie .flip-card-back-content img,
.trekkie .flip-card-back-content p {
  margin: auto; /* Important */
  text-align: center;
  padding: 1em 0;
}

.dev .flip-card-back-content h1,
.dev .flip-card-back-content img,
.dev .flip-card-back-content p {
  margin: auto; /* Important */
  text-align: center;
  padding: 0 1em;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 30px;
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 20px;
  }
}
